<html>
<head>
    <link rel="stylesheet" href="layout1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>

    <header>
        <div id="top">
            <div id="logo">
                <img src="logo.jpeg">
            </div>
            <div id="menu">
                <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Courses</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div id="banner">
        </div>
    </header>
    <section>
        <div id="para">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nostrum expedita id! Ex aspernatur sapiente
                ipsam nemo quia. Voluptatem neque totam voluptate non, nisi a. Incidunt minus repellat molestias
                quisquam?</p>
        </div>
        <div class="content">
            <img src="1.png">
            <div>
                <h2>Feature 1</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Excepturi, expedita! Temporibus, dignissimos
                    autem! Hic explicabo iure ad id debitis ipsam sunt, odio adipisci excepturi. Fuga neque voluptates
                    cum impedit porro!</p>
            </div>
        </div>
        <div class="content">
            <div>
                <h2>Feature 2</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Excepturi, expedita! Temporibus, dignissimos
                    autem! Hic explicabo iure ad id debitis ipsam sunt, odio adipisci excepturi. Fuga neque voluptates
                    cum impedit porro!</p>
            </div>
            <img src="3.png">
        </div>
        <div class="content">
            <img src="4.png">
            <div>
                <h2>Feature 3</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Excepturi, expedita! Temporibus, dignissimos
                    autem! Hic explicabo iure ad id debitis ipsam sunt, odio adipisci excepturi. Fuga neque voluptates
                    cum impedit porro!</p>
            </div>
        </div>
        <div class="content">
            <div>
                <h2>Feature 4</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Excepturi, expedita! Temporibus, dignissimos
                    autem! Hic explicabo iure ad id debitis ipsam sunt, odio adipisci excepturi. Fuga neque voluptates
                    cum impedit porro!</p>
            </div>
            <img src="5.png">
        </div>
    </section>
    <footer>
        <div id="social">
            <h2>Social Icon</h2>
            <ul>
                <li><i class="fa-brands fa-facebook-f"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
                <li><i class="fa-brands fa-linkedin-in"></i></li>
                <li><i class="fa-brands fa-pinterest-p"></i></li>
                <li><i class="fa-brands fa-snapchat"></i></li>
            </ul>
        </div>
        <div id="Subscribe">
            <h2>Subscribe</h2>
            <form>
                <input type="text" placeholder="Enter your E-mail Id">
                <input type="Submit" value="Subscribe">
            </form>
        </div>
    </footer>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit impedit qui libero fugiat totam nemo? Corporis
            blanditiis esse sint odio tempora eveniet, deleniti voluptates, minus voluptatibus dicta accusantium nulla
            illum?</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit impedit qui libero fugiat totam nemo?
            Corporis blanditiis esse sint odio tempora eveniet, deleniti voluptates, minus voluptatibus dicta
            accusantium nulla illum?</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit impedit qui libero fugiat totam nemo?
            Corporis blanditiis esse sint odio tempora eveniet, deleniti voluptates, minus voluptatibus dicta
            accusantium nulla illum?</p>
    </div>
</body>

</html>